:root {
	/*--- colors ---*/
	--color-primary-light: #7679f2;
	--color-primary-main: #3e4dbf;
	--color-primary-dark: #00258e;

	--color-secondary-light: #ffbd45;
	--color-secondary-main: #fb8c00;
	--color-secondary-dark: #c25e00;

	--color-black: #24292e;
	--color-white: #ffffff;
	--color-white-ghost: #f6f9fc;

	--color-grey-light: #f0f2f5;
	--color-grey-main: #bdbdbd;
	--color-grey-dark: #8d8d8d;

	--width-xs: 600px;
	--width-sm: 960px;
	--width-lg: 1280px;
	--width-xl: 1920px;
}

/* -- global --*/
html {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

.dot {
	width: 3px;
	height: 3px;
	margin: 2px;
	border-radius: 50%;
	background-color: var(--color-grey-dark);
}
.dot.inline {
	display: inline-block;
}
.dot.small {
	width: 3px;
	height: 3px;
}

.dot.medium {
	width: 6px;
	height: 6px;
}

.dot.large {
	width: 9px;
	height: 9px;
}
