{
	"extends": ["wesbos"],
	"rules": {
		"no-var": 2,
		"no-console": 1,
		"no-const-assign": 2,
		"no-unused-vars": 1,
		"no-use-before-define": ["error", { "functions": false, "variables": true }],
		"jsx-a11y/anchor-is-valid": 0
	}
}
